<div class="banner">
    <div class="banner-content">
        <p class="banner-title">STEP IT Academy</p>
        <p class="banner-subtitle">
            Missiyamız: tələbələrimizin gələcək uğurlarının əsasını qoymaq üçün keyfiyyətli və bazarda tələb olunan təhsil
        </p>
    </div>
</div>