
<div class="header">
    <a asp-controller="Home" asp-action="Index">
        <img class="header-logo" src="https://fsx3.itstep.org/api/v1/files/XlNHbfS0RU_exefWDWAnrdXMR5AXEpRT" />
    </a>
    <div class="header-navbar">
        <a asp-controller="Home" asp-action="About">About</a>
        <a asp-controller="Home" asp-action="Contact">Contact</a>
    </div>
    <div class="header-comboboxes">
        <select>
            <option value="value">Baki</option>
            <option value="value">Kiyev</option>
        </select>
        <select>
            <option value="value">AZ</option>
            <option value="value">RU</option>
        </select>
        <select class="contact-number">
            <option value="value">(012) 599 11 59</option>
        </select>
    </div>
</div>


