﻿<div class="about">
    <div class="about-content">
        <p class="about-title">Haqqımızda</p>
        <p class="about-subtitle">
            İT sahəsində təlim haqqında cari məlumatlar. Biz İT-dəki tendensiyalar, proqramlaşdırma dillərinin reytinqləri, İT peşələrini seçmək üçün məsləhətl
            ər və tövsiyələr və daha çox şeylər haqqında danışırıq.
        </p>
    </div>
</div>